.container {
  height: 100px;
  border-bottom: #f05454 solid 2px;
}

.nav {
  margin: 0 auto;
  max-width: 1400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 60px;
}

.navMenu {
  padding: 20px 0px;
  align-items: center;
  justify-self: end;
}

.navMenu button {
  border: none;
  background: none;
  margin: 1px;
  font-size: 1.2em;
  font-weight: 100;
  color: #f5f5f5;
  padding: 10px;

  display: inline-block;
  position: relative;
  cursor: pointer;
}

.navMenu button:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f5f5f5;
  /* transform-origin: bottom right; */
  transition: transform 0.25s ease-out;
}

.navMenu button:hover:after {
  background-color: #f05454;
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (max-width: 760px) {
  .logo {
    display: none;
  }

  .nav {
    /* border: red solid 1px; */
    font-size: 2rem;
    display: block;
  }

  .navMenu {
  }
}
